*.d
*.o
*.so
*.lo
test/cmockatest
test/config
test/log
test/memcpy
test/mmap
test/sbrk
test/*.o
test/recvmsg
test/setlocale
test/strinject
temp
examples/dns-fuzz/axfr
core
tools/stringinjector
tools/spawn/spawn
# editors
*.swp
*~

# archives
*.tar.gz

# autotools related stuff
compile
config.guess
config.status
configure
config.h
config.log
config.sub
depcomp
Makefile
install-sh
libtool
ltmain.sh
missing
stamp-h1
ar-lib
test-driver
*.m4
*.in
m4/
autom4te.cache/
.deps/
.libs/
retrace
retrace.la
libretrace.la
gmon.out

src/v2/actions/.dirstamp
src/v2/arch/x86-64/osx/.dirstamp
src/v2/datatypes/.dirstamp
src/v2/libretrace_v2.la
src/v2/prototypes/.dirstamp
src/v2/retrace_v2.dylib
src/v2/retrace_v2.dylib.dSYM/

src/v2/retrace2
src/v2/retrace_v2.nos.c
src/v2/retrace_v2.nos.h

