*.d
*.o
*.so
*.lo
test/cmockatest
test/*.o
core

# editors
*.swp
*~

# archives
*.tar.gz

# autotools related stuff
compile
config.guess
config.status
configure
config.h
config.log
config.sub
depcomp
Makefile
install-sh
libtool
ltmain.sh
missing
stamp-h1
ar-lib
test-driver
*.m4
*.in
m4/
autom4te.cache/
.deps/
.libs/
retrace
retrace.la
libretrace.la
