name: Checkpatch

on:
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '**.nix'
      - '.github/workflows/*.yml'
      - '!.github/workflows/checkpatch.yml'
      - 'ci/before_install/*'
      - '!ci/before_install/linux.sh'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'

jobs:
  build:

    runs-on: ubuntu-latest

    if: "!contains(github.event.head_commit.message, 'skip ci')"
    steps:
      - uses: actions/checkout@v2
      - name: Set up environment
        run: |
          echo CHECKPATCH_INSTALL="${HOME}/builds/checkpatch-install" >> "${GITHUB_ENV}"
          ./ci/before_install.sh
      - name: Install more prerequisites
        run: ./ci/install.sh checkpatch
      - name: Check patch
        run: ./ci/checkpatch.sh
