name: Windows

on:
  push:
    branches:
      - master
      - 'release/**'
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'
      - '.github/workflows/*.yml'
      - '!.github/workflows/windows.yml'
      - 'ci/before_install/*'
      - '!ci/before_install/msys.sh'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '**.adoc'
      - '**.md'

jobs:
  build:
    runs-on: windows-latest
    strategy:
      fail-fast: false
    if: "!contains(github.event.head_commit.message, 'skip ci')"

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - uses: msys2/setup-msys2@v2
        with:
          path-type: inherit
      - name: Set up environment
        shell: msys2 {0}
        run: |
          echo CMOCKA_INSTALL="${HOME}/builds/cmocka-install" >> "${GITHUB_ENV}"
      - name: Install more prerequisites
        shell: msys2 {0}
        run: |
          ./ci/before_install.sh
          ./ci/install.sh libnereon
      - name: Configure
        shell: msys2 {0}
        run: |
          ./autogen.sh
          ./configure --enable-tests
      - name: Build
        shell: msys2 {0}
        run: ./ci/main.sh
